dissertation/tex/main.aux
dissertation/tex/main.bbl
dissertation/tex/main.blg
dissertation/tex/main.lof
dissertation/tex/main.log
dissertation/tex/main.lot
dissertation/tex/main.out
dissertation/tex/main.pdf
dissertation/tex/main.synctex.gz
dissertation/tex/main.tex~
dissertation/tex/main.toc
*~*
